<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <style>
      html { height: 100%; }
      img { margin-bottom: 5px; }
      body {
        text-align: center;
        height: 100%;
        padding-top: 70px;
      }
      .folder {
        padding: 20px 0;
      }
      .folder h4 {
        text-align: left;
        margin-left: 50px;
      }
      {{.Style}}
    </style>
  </head>
  <body>
    <h1>{{.Headline}}</h1>
    <p>{{.Copy}}</p>
    {{range $folder, $paths := .Fartos}}
    <div class="folder">
      <h4>{{$folder}}</h4>
      {{range $paths}}
      <a href="/{{$folder}}.farto.n/{{.}}.jpg" target="_blank">
        <img src="/{{$folder}}.farto.n.t/{{.}}.jpg" />
      </a>
      {{end}}
    </div>
    {{end}}
  </body>
</html>
